# Analysis of public high school names in California

I obtained a list of names of public high schools in California, excluding charter and magnet schools, from the [Califorina Department of Education website](https://www.cde.ca.gov/schooldirectory/).

In [3]:
import pandas as pd
import numpy as np

In [4]:
schools = pd.read_csv("CDESchoolDirectory-classified.csv")

In [5]:
schools.head()

,Record Type,Federal School ID,County,District,School,Latitude,Longitude,Street Address,Street City,Street State,Street Zip,Name Classification,Spanish?,Person Occupation,notes
0,School,00041,Alameda,Alameda Unified,Alameda High,37.764958,-122.245935,2200 Central Ave.,Alameda,CA,94501-4406,place,n,NaN,NaN
1,School,00059,Alameda,Albany City Unified,Albany High,37.896661,-122.292572,603 Key Route Blvd.,Albany,CA,94706-1422,place,n,NaN,NaN
2,School,00432,Alameda,Berkeley Unified,Berkeley High,37.868913,-122.271200,1980 Allston Way,Berkeley,CA,94704-1463,place,n,NaN,NaN
3,School,00742,Alameda,Castro Valley Unified,Castro Valley High,37.705184,-122.078478,19400 Santa Maria Ave.,Castro Valley,CA,94546-3400,place,n,NaN,NaN
4,School,09273,Alameda,Dublin Unified,Dublin High,37.720996,-121.926391,8151 Village Pkwy.,Dublin,CA,94568-1656,place,n,NaN,NaN

In [6]:
# there are 881 public high schools (excluding charter and magnet schools)
schools.shape

(881, 15)

In [7]:
schools.dtypes

Record Type             object
Federal School ID       object
County                  object
District                object
School                  object
Latitude               float64
Longitude              float64
Street Address          object
Street City             object
Street State            object
Street Zip              object
Name Classification     object
Spanish?                object
Person Occupation       object
notes                   object
dtype: object

## How many schools are named after a place, a person or other?

In [8]:
schools['Name Classification'].value_counts()

Name Classification
place     519
other     208
person    154
Name: count, dtype: int64

In [9]:
place_per = 519/881
place_per = place_per * 100
place_per

58.910329171396135

In [10]:
person_per = 154/881
person_per = person_per * 100
person_per

17.480136208853576

In [11]:
other_per = 208/881
other_per = other_per * 100
other_per

23.609534619750285

In [12]:
print(f'{round(place_per, 2)} percent of schools are named after a place, {round(person_per, 2)} percent are named after a person and {round(other_per, 2)} percent are named after something else.')

58.91 percent of schools are named after a place, 17.48 percent are named after a person and 23.61 percent are named after something else.

## What occupations did the people schools were named after have?

In [13]:
schools['Person Occupation'].value_counts()

Person Occupation
politician           40
school leadership    35
activist             16
landowner            15
explorer              9
founder               7
writer                5
service member        5
civil servant         4
artist                3
naturalist            2
inventor              2
farmer                2
community leader      1
actor                 1
astronaut             1
newspaper owner       1
industrialist         1
civil cervant         1
scientist             1
Name: count, dtype: int64

## How many schools have Spanish names?

In [14]:
schools['Spanish?'].value_counts()

Spanish?
n    678
y    203
Name: count, dtype: int64

In [15]:
spanish_per = 203/881
spanish_per = spanish_per * 100
spanish_per

23.04199772985244

In [16]:
print(f'{round(spanish_per, 2)} percent of schools have Spanish names.')

23.04 percent of schools have Spanish names.

## Is there a most common school name?

In [17]:
schools['School'].value_counts()

School
John F. Kennedy High    4
Foothill High           4
Liberty High            4
Centennial High         3
Golden Valley High      3
                       ..
Winters High            1
Woodland Senior High    1
Lindhurst High          1
Marysville High         1
Castro Valley High      1
Name: count, Length: 837, dtype: int64

In [20]:
schools.groupby('County')[

AttributeError: 'DataFrameGroupBy' object has no attribute 'valuecounts'